.modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #CED5D3;
    border-radius: 8px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);

    max-height: 70vh;
    overflow-y: auto;
}